html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eff5d8;
}

#root {
  height: 100%;
}

[id="1"] {
  font-size: 15px;
}

.expandedList {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin-top: 0.5px;
  padding: 5px;
  background-color: #d3d8b4;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 100%;
}

.headerMenu {
  display: flex;
  position: relative;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding-right: 2%;
}

li {
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

button {
  text-transform: uppercase;
  background-color: #b1ba8e;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.expandedItem {
  display: flex;
  position: relative;
  flex-direction: column;
}

img {
  width: 20px;
  height: 20px;
}

.buttonImage {
  display: flex;
  align-items: center;
}

hr {
  width: 100%;
  color: black;
}

.imagesContainer {
  display: flex;
  justify-content: space-around;
}

canvas {
  width: 700px;
  height: 550px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #b1ba8e;
  border-radius: 10px;
  background-color: #d3d8b4;
  margin-top: 30px;
}

.imageBox {
  width: 700px;
  height: 550px;
  border: 2px solid #b1ba8e;
  border-radius: 10px;
  padding: 10px;
  background-color: #d3d8b4;
  margin-top: 30px;
}

.imageBox img {
  width: 700px;
  height: 550px;
}

.geometric-transformation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-transformation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.input-checkbox {
  display: flex;
  flex-direction: column;
}

.input p {
  margin: 5px;
  font-weight: bold;
}

.geometric-transformation-image button {
  background-color: black;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.geometric-transformation select {
  width: auto;
  height: 40px;
  font-size: 16px;
  padding: 5px;
}

.filter-transformation-image button {
  background-color: black;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.filter-transformation select {
  width: auto;
  height: 40px;
  font-size: 16px;
  padding: 5px;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.aboutInfos {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: justify;
  border-radius: 30px;
  background-color: #6f7557;
}

.aboutInfos p {
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media(max-width: 1100px) {
  [id="1"] {
    font-size: 10px;
  }
}

@media(max-width: 800px) {
  [id="1"] {
    height: 20px;
    font-size: 10px;
  }
}