body {
  background-color: #eff5d8;
}

.expandedList {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin-top: 0.5px;
  padding: 5px;
  background-color: #d3d8b4;
  border: 1px solid black;
  border-radius: 10px;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding-right: 2%;
}

li {
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

button {
  text-transform: uppercase;
  background-color: #b1ba8e;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  padding: 5px;
}

.expandedItem {
  display: flex;
  flex-direction: column;
}

img {
  width: 20px;
  height: 20px;
}

.buttonImage {
  display: flex;
  align-items: center;
}

hr {
  width: 100%;
  color: black
}

.opened-image {
  width: 500px;
  height: 500px;
}