body {
  background-color: #eff5d8;
}

[id="1"] {
  font-size: 15px;
}

.expandedList {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin-top: 0.5px;
  padding: 5px;
  background-color: #d3d8b4;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 100%;
}

.headerMenu {
  display: flex;
  position: relative;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding-right: 2%;
}

li {
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

button {
  text-transform: uppercase;
  background-color: #b1ba8e;
  font-size: 20px;
  font-weight: 500;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.expandedItem {
  display: flex;
  position: relative;
  flex-direction: column;
}

img {
  width: 20px;
  height: 20px;
}

.buttonImage {
  display: flex;
  align-items: center;
}

hr {
  width: 100%;
  color: black;
}

.imagesContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

canvas {
  width: 700px;
  height: 550px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #b1ba8e;
  border-radius: 10px;
  background-color: #d3d8b4;
  margin-top: 30px;
}

.imageBox {
  width: 700px;
  height: 550px;
  border: 2px solid #b1ba8e;
  border-radius: 10px;
  padding: 10px;
  background-color: #d3d8b4;
  margin-top: 30px;
}

.imageBox img {
  width: 700px;
  height: 550px;
}

.translate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.translate-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.translate-input p {
  margin: 5px;
  font-weight: bold;
}

.translatedImage button {
  background-color: black;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

@media(max-width: 1100px) {
  [id="1"] {
    font-size: 10px;
  }
}

@media(max-width: 800px) {
  [id="1"] {
    height: 20px;
    font-size: 10px;
  }
}

.scale {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.scale-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.scale-input p {
  margin: 5px;
  font-weight: bold;
}

.scaledImage button {
  background-color: black;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
